@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-card: #1a1c1c;
  --color-primary: #eaf740;
  --color-shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.25);
  --color-border: oklch(0.308 0 0);
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-card-foreground: oklch(0.97 0 0);
  --color-popover: oklch(0.185 0 0);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary-foreground: #000000;
  --color-secondary: oklch(0.439 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.308 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-accent: oklch(0.646 0.222 264.376);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.985 0 0);
  --color-border: oklch(0.308 0 0);
  --color-input: oklch(0.185 0 0);
  --color-ring: oklch(0.646 0.222 264.376 / 0.4);
  --color-chart-1: oklch(0.769 0.188 70.08);
  --color-chart-2: oklch(0.577 0.245 27.325);
  --color-chart-3: oklch(0.145 0 0);
  --color-chart-4: oklch(0.646 0.222 264.376);
  --color-chart-5: oklch(0.308 0 0);
  --color-radius: 0.5rem;
  --color-sidebar: oklch(0.205 0 0);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.145 0 0);
  --color-sidebar-primary-foreground: oklch(0.97 0 0);
  --color-sidebar-accent: oklch(0.646 0.222 264.376);
  --color-sidebar-accent-foreground: oklch(0.985 0 0);
  --color-sidebar-border: oklch(0.308 0 0);
  --color-sidebar-ring: oklch(0.646 0.222 264.376 / 0.4);
  /* --radius-xl2: 1.25rem; */
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: var(--color-bg);
  color: #fff;
}
